<div id="main">
  <div id="left">
    <!-- SEARCH PANEL -->
    <div class="row">
      <br>
      <div id="collapsePanel">
        
        <%= search_form_for @search, url: search_path do |f| %>

          <div class="row">
            <div class="col-md-8">
              <label>Price range:</label>
            </div>
            <div class="col-md-2">
              <label>Min Price:</label>
              <%= f.text_field :price_gteq, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <label>Max Price:</label>
              <%= f.text_field :price_lteq, class: "form-control" %>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-6">
              <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
            </div>
            <div class="col-md-6">
              <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
            </div>
          </div>
          <hr>

          <div class="row text-center">
            <%= f.submit "Search", class: "btn btn-form" %>
          </div>
        <% end %>
      </div>
      <br>

      <div class="row">
        <% @arrGear.each do |gear| %>      
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel panel-heading preview">
                <%= image_tag gear.cover_photo(:medium) %>
              </div>
              <div class="panel-body">
                <%= link_to gear.listing_name, gear %><br>
              </div>
            </div>    
          </div>
        <% end %>
      </div>

  </div>

  <div id="right">
    <!-- MAP WILL BE HERE -->

  </div>
</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',     // Change this maxDate to allow users to book further out than 3 months
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',     // Change this maxDate to allow users to book further out than 3 months
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
</script>



