<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listing", gears_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Your Rentals", your_rentals_path, class: "sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Reservations
      </div>
      <div class="panel-body">
      <% @gears.each do |gear| %>

        <% gear.reservations.each do |reservation| %>
          <div class="row">
            <div class="col-md-2">
              <%= reservation.start_date.strftime('%v') %>
            </div>
            <div class="col-md-6">
              <%= link_to gear_path(reservation.gear) do %>
                <%= image_tag reservation.gear.photos[0].image.url(:thumb) if reservation.gear.photos.length > 0 %>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to user_path(reservation.user) do %>
                <%= image_tag avatar_url(reservation.user), class: "img-circle avatar-medium" %>
              <% end %>
            </div>
            <div class="col-md-2 right">
              <h4>$<%= reservation.total %></h4>
            </div>
          </div>
          <hr>
        <% end %>

      <% end %>   

      </div>
    </div>
  </div>
</div>