<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Listings", gears_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Bookings", your_bookings_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Rentals", your_rentals_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Rentals
      </div>
      <div class="panel-body">
        
        <% @rentals.each do |rental| %>
          <div class="row">
            <div class="col-md-2">
              <%= rental.start_date.strftime('%v') %>
              <p><%= rental.status %></p>
            </div>
            <div class="col-md-2">
              <%= link_to gear_path(rental.gear) do %>
                <%= image_tag rental.gear.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-5">
              <%= link_to rental.gear.listing_name, gear_path(rental.gear) %><br/><br/>
              <span>
                <%= image_tag avatar_url(rental.gear.user), class: "img-circle avatar-small" %>
                <%= link_to user_path(rental.gear.user) do %>
                  <%= rental.gear.user.fullname %>
                <% end %>
              </span>
            </div>
            <div class="col-md-3 text-right">
              <%= render partial: "reviews/borrower_form", locals: { reservation: rental } if rental.Approved? %> 
            </div>
          </div>
          <hr>
        <% end %>

      </div>
    </div>
  </div>
</div>