<ul class="sidebar-link">
  <li class="sidebar-item">
    <%= link_to "Listing", listing_gear_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Pricing", pricing_gear_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Description", description_gear_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Photo", photo_upload_gear_path, class: "sidebar-link active" %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Location", location_gear_path, class: "sidebar-link active" %>
  </li>
</ul>